<table class="table">
  <thead>
    <tr>
      <th scope="col">Hall</th>
      <th scope="col">Doctor</th>
      <th scope="col">Type</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <% appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.hall.name %></td>
        <td><%= appointment.doctor.full_name %></td>
        <td><%= appointment.price_item.kind %></td>
        <td><%= appointment.price_item.price %></td>
        <td><%= appointment.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
